<div class="row full-height align-items-center justify-content-center">
    <div class="col-10 align-self-center" [formGroup]="form">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput #name formControlName="name">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Surname</mat-label>
                    <input matInput #surname formControlName="surname">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput #email formControlName="email">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Phone</mat-label>
                    <input matInput #phone formControlName="phone">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Birthdate</mat-label>
                    <input matInput #birthDate formControlName="birthDate">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Nationality</mat-label>
                    <input matInput #nationality formControlName="nationality">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Student At</mat-label>
                    <input matInput #studentAt formControlName="studentAt">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>ESN Section</mat-label>
                    <input matInput #esnSection formControlName="esnSection">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Nr ESN Card</mat-label>
                    <input matInput #nrEsnCard formControlName="nrEsnCard">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button mat-raised-button color="primary" class="full-width" (click)="register()">Register</button>
            </div>
        </div>
    </div>
</div>