<div class="row full-height align-items-center justify-content-center">
    <div class="col-10 align-self-center">
        <form [formGroup]="form">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Name *</mat-label>
                        <input matInput #name formControlName="name" autocomplete="given-name">
                    </mat-form-field>
                </div>
                <div class="col" fxShow fxHide.lt-sm="true">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Surname *</mat-label>
                        <input matInput #surname formControlName="surname" autocomplete="family-name">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" fxHide fxShow.lt-sm="true">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Surname *</mat-label>
                        <input matInput #surname formControlName="surname" autocomplete="family-name">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Email *</mat-label>
                        <input matInput #email formControlName="email" autocomplete="email">
                    </mat-form-field>
                </div>
                <div class="col" fxShow fxHide.lt-sm="true">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Phone *</mat-label>
                        <input matInput #phone formControlName="phone" autocomplete="tel">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" fxHide fxShow.lt-sm="true">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Phone *</mat-label>
                        <input matInput #phone formControlName="phone" autocomplete="tel">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Birthdate *</mat-label>
                        <input matInput [matDatepicker]="birthDate" formControlName="birthDate" autocomplete="bday">
                        <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
                        <mat-datepicker #birthDate startView="year" [startAt]="startDate"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col" fxShow fxHide.lt-sm="true">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Nationality *</mat-label>
                        <mat-select formControlName="nationality">
                            <mat-option disabled><input matInput #nationalitySearch formControlName="nationalitySearch"
                                    placeholder="Search"></mat-option>
                            <mat-option #nationality *ngFor="let nationality of filteredNationalities | async"
                                [value]="nationality">
                                {{nationality.nationality}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" fxHide fxShow.lt-sm="true">
                <div class="col">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Nationality *</mat-label>
                        <mat-select formControlName="nationality">
                            <mat-option disabled><input matInput #nationalitySearch formControlName="nationalitySearch"
                                    placeholder="Search"></mat-option>
                            <mat-option #nationality *ngFor="let nationality of filteredNationalities | async"
                                [value]="nationality">
                                {{nationality.nationality}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Student At *</mat-label>
                        <mat-select formControlName="university">
                            <mat-option disabled><input matInput #universitySearch formControlName="universitySearch"
                                    placeholder="Search"></mat-option>
                            <mat-option #university *ngFor="let university of filteredUniversities"
                                [value]="university">
                                {{university.university}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col" fxHide.lt-sm="true">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>ESN Section *</mat-label>
                        <mat-select formControlName="esnSection">
                            <mat-option disabled><input matInput #esnSectionSearch formControlName="esnSectionSearch"
                                    placeholder="Search"></mat-option>
                            <mat-option #esnSection *ngFor="let esnSection of filteredEsnSections | async"
                                [value]="esnSection">
                                {{esnSection.section}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" fxHide fxShow.lt-sm="true">
                <div class="col">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>ESN Section *</mat-label>
                        <mat-select formControlName="esnSection">
                            <mat-option disabled><input matInput #esnSectionSearch formControlName="esnSectionSearch"
                                    placeholder="Search"></mat-option>
                            <mat-option #esnSection *ngFor="let esnSection of filteredEsnSections | async"
                                [value]="esnSection">
                                {{esnSection.section}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Nr ESN Card</mat-label>
                        <input matInput #nrEsnCard formControlName="nrEsnCard">
                    </mat-form-field>
                </div>
                <div class="col" fxHide.lt-sm="true">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Password *</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                            autocomplete="new-password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" fxHide fxShow.lt-sm="true">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Password *</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                            autocomplete="new-password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <button mat-raised-button color="primary" class="full-width" (click)="register()"
                    [disabled]="this.form.invalid">Register</button>
            </div>
        </div>
    </div>
</div>