<div class="row full-height align-items-center justify-content-center">
    <div class="col-10 align-self-center text-center">
        <mat-card>
            <mat-card-content>
                <h1>Confirm registration</h1>
                <p *ngIf="confirmation | async">
                    Registration confirmed
                </p>
                <p [hidden]="confirmation | async">
                    Maybe your confirmation token is expired or you already use it
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>