<div class="row padding-top-18 full-height align-items-center justify-content-center">
    <div class="col-10 align-self-center text-center">
        <form [formGroup]="form">
            <mat-card class="mx-auto">
                <mat-card-content>
                    <h1 i18n="Update Password|update password@@updatePassword">Update password</h1>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label i18n="New password *|New password *@@newPassword*">New password *</mat-label>
                                <input matInput [type]="hideNewPassword ? 'password' : 'text'"
                                    formControlName="new-password">
                                <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                                    <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label i18n="Confirm password *|Confirm password *@@confirmPassword*">Confirm
                                    password *
                                </mat-label>
                                <input matInput [type]="hideMatchPassword ? 'password' : 'text'"
                                    formControlName="match-password">
                                <button mat-icon-button matSuffix (click)="hideMatchPassword = !hideMatchPassword"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideMatchPassword">
                                    <mat-icon>{{hideMatchPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button mat-raised-button color="primary" class="full-width" (click)="saveNewPassword()"
                                i18n="Save new password|Save new password button@@saveNewPassword"
                                [disabled]="this.form.invalid">Save new password
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>