<div class="row padding-top-18 full-height align-items-center justify-content-center">
    <div class="col-10 align-self-center text-center">
        <form [formGroup]="form">
            <mat-card class="mx-auto">
                <mat-card-content>
                    <div class="row padding-top-18 padding-bottom-18">
                        <div class="col text-center">
                            <img class="full-logo-img" alt="esn-logo" src="{{logoPath}}">
                        </div>
                    </div>
                    <h1 i18n="Update Password|update password@@updatePassword">Update password</h1>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label i18n="New password *|New password *@@newPassword*">New password *</mat-label>
                                <input matInput [type]="hideNewPassword ? 'password' : 'text'"
                                    formControlName="new-password">
                                <button mat-icon-button matSuffix [attr.aria-label]="'Info'" [matMenuTriggerFor]="info"
                                    #infoTrigger>
                                    <mat-icon>info</mat-icon>
                                </button>
                                <mat-menu #info="matMenu">
                                    <div class="row">
                                        <div class="col">
                                            <mat-list role="list">
                                                <mat-list-item role="listitem">At least 8 characters</mat-list-item>
                                                <mat-list-item role="listitem">At least one lowercase letter
                                                </mat-list-item>
                                                <mat-list-item role="listitem">At least one uppercase letter
                                                </mat-list-item>
                                                <mat-list-item role="listitem">At least one number</mat-list-item>
                                                <mat-list-item role="listitem">At least one special character (@$!%*?&)
                                                </mat-list-item>
                                            </mat-list>
                                        </div>
                                    </div>
                                </mat-menu>
                                <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                                    <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="form.get('new-password')?.invalid">{{getPasswordErrorMessage()}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label i18n="Confirm password *|Confirm password *@@confirmPassword*">Confirm
                                    password *
                                </mat-label>
                                <input matInput [type]="hideMatchPassword ? 'password' : 'text'"
                                    formControlName="match-password">
                                <button mat-icon-button matSuffix (click)="hideMatchPassword = !hideMatchPassword"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideMatchPassword">
                                    <mat-icon>{{hideMatchPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="form.get('match-password')?.invalid">
                                    {{getMatchPasswordErrorMessage()}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button mat-raised-button loading-button color="primary" class="full-width"
                                (click)="saveNewPassword()"
                                i18n="Save new password|Save new password button@@saveNewPassword"
                                [disabled]="this.form.invalid" [isLoading]="isSavingNewPassword">Save new password
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
        <div class="row padding-top-18 padding-bottom-18">
            <div class="col text-center">
                <app-flags-language-select></app-flags-language-select>
            </div>
        </div>
    </div>
</div>