<div class="row full-height align-items-center justify-content-center">
    <div class="col-10 align-self-center text-center">
        <div class="card" style="width: 500px;">
            <div class="row">
                <div class="col-4"
                    style="background-color: #3a99d1; height: 300px;border-top-left-radius: 15px; border-bottom-left-radius: 15px; color: white;text-align: left;">
                    <h3 style="margin: 0px;">ESNcard</h3>
                    <p>Member of the erasmus generation</p>
                    <div style="height: 200px; border-style: dashed;">
                        <mat-icon style="font-size: 130px;">person</mat-icon>
                        <p style="text-align: center!important;">
                            Upload your photo
                        </p>
                    </div>
                </div>
                <div class="col-8" style="font-size:x-small;">
                    <div class="row">
                        <div class="col text-right">
                            <img style="block-size: 55px;text-align: right!important;"
                                src="../../../assets/images/ESN_full-logo-Satellite.png" alt="image">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-left" style="padding: 0px;">
                            NAME & SURNAME
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-left" style="background-color: #ccecff; padding: 0px;">
                            Gianluca Picierro
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7 text-left" style="padding: 0px;">
                            NATIONALITY
                        </div>
                        <div class="col-5 text-left" style="padding: 0px;">
                            DATE OF BIRTH
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left" style="background-color: #ccecff; padding: 0px;">
                            Italian
                        </div>
                        <div class="col-5 offset-1 text-left" style="background-color: #ccecff; padding: 0px;">
                            03-01-1992
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-left" style="padding: 0px;">
                            STUDENT AT
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-left" style="background-color: #ccecff; padding: 0px;">
                            University of Bologna
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-left" style="padding: 0px;">
                            ESN SECTION
                        </div>
                        <div class="col-5 text-left" style="padding: 0px;">
                            VALID 12 MONTHS SINCE
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left" style="background-color: #ccecff; padding: 0px;">
                            ESN bari
                        </div>
                        <div class="col-5 offset-1 text-left" style="background-color: #ccecff; padding: 0px;">
                            03-01-1992
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-left" style="padding: 0px;">
                            ESNCARD N° 243654765876987GFH
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>