<div class="row align-items-center">
    <div class="col">
        <div class="row align-items-center">
            <div class="col-1 offset-4 text-center">
                <mat-icon>warning</mat-icon>
            </div>
            <div class="col-3 text-left">
                <h1 i18n="Unauthorized| Unauthorized @@unauthorized">Unauthorized</h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h4
                    i18n="You are not authorized to access the requested page. | You are not authorized to access the requested page. @@notAuthorizedForRequestPage">
                    You are not authorized to access the requested page.</h4>
                <h4 i18n="Check your credentials.|Check your credentials.@@checkCredential">Check your credentials.</h4>
            </div>
        </div>
    </div>
</div>