<div id="app">
    <mat-toolbar class="ewa-header" *ngIf="this.loginSharedService.isLoggedIn$ | async">
        <mat-toolbar-row>
            <button mat-icon-button aria-label="Menu button" [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Test</button>
                <button mat-menu-item>Test2</button>
            </mat-menu>
            <span class="toolbar-spacer"></span>
            <img class="short-logo-img" alt="esn-logo" src="{{logoPath}}">
            <span class="changeCursor" fxShow fxHide.lt-sm="true" (click)="goToHomePage()">Erasmus World App</span>
            <span class="changeCursor" fxHide fxShow.lt-sm="true" (click)="goToHomePage()">EWA</span>
            <span class="toolbar-spacer"></span>
            <app-flags-language-select></app-flags-language-select>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                [matMenuTriggerFor]="loginMenu">
                <mat-icon>person</mat-icon>
            </button>
            <mat-menu #loginMenu="matMenu">
                <div>
                    <button mat-menu-item (click)="goToLogin()" *ngIf="this.loginSharedService.isLoggedOut$ | async"
                        i18n="Login|login button@@login">Login</button>
                    <button mat-menu-item (click)="goToRegistration()"
                        *ngIf="this.loginSharedService.isLoggedOut$ | async"
                        i18n="Register|register button@@register">Register</button>
                    <button mat-menu-item (click)="goToEditProfile()"
                        *ngIf="this.loginSharedService.isLoggedIn$ | async"
                        i18n="Edit profile|Edit profile button@@editProfile">Edit profile</button>
                    <button mat-menu-item (click)="logout()" *ngIf="this.loginSharedService.isLoggedIn$ | async"
                        i18n="Logout|logout button@@logout">Logout</button>
                    <p>{{this.username}}</p>
                </div>
            </mat-menu>
            <div *ngIf="this.loginSharedService.isLoggedOut$ | async">
                <button mat-button fxShow="true" fxShow fxHide.lt-sm="true" (click)="goToLogin()"
                    i18n="Login|login button@@login">Login</button>
                <button mat-raised-button fxShow="true" fxShow fxHide.lt-sm="true" (click)="goToRegistration()"
                    i18n="Register|register button@@register">Register</button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div id="container">
        <router-outlet></router-outlet>
    </div>

</div>