<div class="row full-height align-items-center justify-content-center">
    <div class="col-10 align-self-center">
        <div class="row padding-top-18 padding-bottom-18">
            <div class="col" i18n="Name *|name *@@name*">
                Sign up to become a member of the erasmus generation.
            </div>
        </div>
        <form [formGroup]="form">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label i18n="Name *|name *@@name*">Name *</mat-label>
                        <input matInput #name formControlName="name" autocomplete="given-name">
                    </mat-form-field>
                </div>
                <div class="col" fxShow fxHide.lt-sm="true">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label i18n="Surname *|surname *@@surname*">Surname *</mat-label>
                        <input matInput #surname formControlName="surname" autocomplete="family-name">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" fxHide fxShow.lt-sm="true">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label i18n="Surname *|surname *@@surname*">Surname *</mat-label>
                        <input matInput #surname formControlName="surname" autocomplete="family-name">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label i18n="Email *|email *@@email*">E-mail *</mat-label>
                        <input matInput #email formControlName="email" autocomplete="email">
                    </mat-form-field>
                </div>
                <div class="col" fxShow fxHide.lt-sm="true">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label i18n="Phone *|phone *@@phone*">Phone *</mat-label>
                        <input matInput #phone formControlName="phone" autocomplete="tel">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" fxHide fxShow.lt-sm="true">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label i18n="Phone *|phone *@@phone*">Phone *</mat-label>
                        <input matInput #phone formControlName="phone" autocomplete="tel">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label i18n="Birthdate *|birthdate *@@birthdate*">Birthdate *</mat-label>
                        <input matInput [matDatepicker]="birthDate" formControlName="birthDate" autocomplete="bday">
                        <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
                        <mat-datepicker #birthDate startView="year" [startAt]="startDate"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col" fxShow fxHide.lt-sm="true">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label i18n="Nationality *|nationality *@@nationality*">Nationality *</mat-label>
                        <mat-select formControlName="nationality">
                            <mat-option disabled><input matInput #nationalitySearch formControlName="nationalitySearch"
                                    placeholder="Search"></mat-option>
                            <mat-option #nationality *ngFor="let nationality of filteredNationalities | async"
                                [value]="nationality">
                                {{nationality.nationality}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" fxHide fxShow.lt-sm="true">
                <div class="col">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label i18n="Nationality *|nationality *@@nationality*">Nationality *</mat-label>
                        <mat-select formControlName="nationality">
                            <mat-option disabled><input matInput #nationalitySearch formControlName="nationalitySearch"
                                    placeholder="Search"></mat-option>
                            <mat-option #nationality *ngFor="let nationality of filteredNationalities | async"
                                [value]="nationality">
                                {{nationality.nationality}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label i18n="Student At *|student At *@@studentAt*">Student At *</mat-label>
                        <mat-select formControlName="university">
                            <mat-option disabled><input matInput #universitySearch formControlName="universitySearch"
                                    placeholder="Search"></mat-option>
                            <mat-option #university *ngFor="let university of filteredUniversities"
                                [value]="university">
                                {{university.university}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col" fxHide.lt-sm="true">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label i18n="ESN Section *|ESN Section *@@esnSection*">ESN Section *</mat-label>
                        <mat-select formControlName="esnSection">
                            <mat-option disabled><input matInput #esnSectionSearch formControlName="esnSectionSearch"
                                    placeholder="Search"></mat-option>
                            <mat-option #esnSection *ngFor="let esnSection of filteredEsnSections | async"
                                [value]="esnSection">
                                {{esnSection.section}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" fxHide fxShow.lt-sm="true">
                <div class="col">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label i18n="ESN Section *|ESN Section *@@esnSection*">ESN Section *</mat-label>
                        <mat-select formControlName="esnSection">
                            <mat-option disabled><input matInput #esnSectionSearch formControlName="esnSectionSearch"
                                    placeholder="Search"></mat-option>
                            <mat-option #esnSection *ngFor="let esnSection of filteredEsnSections | async"
                                [value]="esnSection">
                                {{esnSection.section}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label i18n="Nr ESN Card|Nr ESN Card@@nrEsnCard">Nr ESN Card</mat-label>
                        <input matInput #nrEsnCard formControlName="nrEsnCard">
                    </mat-form-field>
                </div>
                <div class="col" fxHide.lt-sm="true">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label i18n="Password *|password *@@password*">Password *</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                            autocomplete="new-password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" fxHide fxShow.lt-sm="true">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label i18n="Password *|password *@@password*">Password *</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                            autocomplete="new-password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label i18n="Confirm password *|Confirm password *@@confirmPassword*">Confirm
                            password *
                        </mat-label>
                        <input matInput [type]="hideMatchPassword ? 'password' : 'text'"
                            formControlName="match-password">
                        <button mat-icon-button matSuffix (click)="hideMatchPassword = !hideMatchPassword"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideMatchPassword">
                            <mat-icon>{{hideMatchPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="row padding-bottom-18">
            <div class="col">
                <button mat-raised-button color="primary" class="full-width" (click)="register()"
                    [disabled]="this.form.invalid" ii18n="Register|register button@@register">Register</button>
            </div>
        </div>
        <div class="row padding-bottom-18">
            <div class="col">
                <p>
                    By signing up, you agree to our
                    <a (click)="goToTerms()">Terms</a>
                    . Learn how we collect, use and share your data in our
                    <a (click)="goToDataPolicy()">Data Policy</a>
                    and how we use cookies and similar technology in our
                    <a (click)="goToCookiesPolicy()">Cookies Policy</a>
                    .
                </p>
            </div>
        </div>
    </div>
</div>