<div class="row full-height align-items-center justify-content-center">
    <div class="col-10 align-self-center">
        <h1 i18n="Term of Use|Term of Use title@@termOfUse">Term of Use</h1>
        <div class="row">
            <div class="col">
                <span>
                    Welcome to Erasmus World Application! <br>

                    These Terms of Use (or “Terms”) govern your use of Erasmus World Application, except where we
                    expressly
                    state that separate terms (and not these) apply, and provide information about the Erasmus World
                    Application Service (the
                    “Service”), outlined below. When you create an Erasmus World Application account or use Erasmus
                    World
                    Application, you agree
                    to these terms.
                    The Erasmus World Application Terms of Service do not apply to this Service. <br>
                </span>

                <strong>The Erasmus World Application Service</strong>


                <span>We agree to provide you with the Erasmus World Application
                    Service. The Service includes all of the Erasmus World Application products, features, applications,
                    services, technologies, and software that we provide to advance Erasmus World Application's mission:
                    To bring you closer to the people and things you love. The Service is made up of the
                    following aspects:
                </span>
                <ul>
                    <li>
                        <strong>Offering
                            personalized opportunities to create, connect, communicate,
                            discover, and share.</strong>
                        People are different. We
                        want to strengthen your relationships through shared experiences you actually
                        care about. So we build systems that try to understand who and what you and
                        others care about, and use that information to help you create, find, join, and
                        share in experiences that matter to you. Part of that is highlighting content,
                        features, offers, and accounts you might be interested in, and offering ways for
                        you to experience Instagram, based on things you and others do on and off
                        Instagram.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>