<div class="row full-height align-items-center justify-content-center">
    <div class="col-10 align-self-center">
        <h1 i18n="Data Policy|Data Policy title@@dataPolicy">Data Policy</h1>
        <div class="row">
            <div class="col">
                <span>
                    This policy describes the information we process to support Facebook, Erasmus World Application,
                    Messenger and other products and features offered by Erasmus World Application Platforms Ireland
                    Limited
                    or Products). You can find additional tools and information in the Erasmus World Application
                    Settings.
                </span>
                <span><b>I.
                        What kinds of information do we collect?
                    </b>
                </span>

                <span> To provide the Erasmus World Application Products, we must process information about you. The
                    types of information we
                    collect depend on how you use our Products. You can learn how to access and delete information
                    we collect by visiting the Erasmus World Application Settings.
                </span>
            </div>
        </div>
    </div>
</div>