<div id="app">
    <app-spinner></app-spinner>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button aria-label="Menu button" [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Test</button>
                <button mat-menu-item>Test2</button>
            </mat-menu>
            <span fxShow fxHide.lt-sm="true">Erasmus World App</span>
            <span fxHide fxShow.lt-sm="true">EWA</span>
            <span class="toolbar-spacer"></span>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                [matMenuTriggerFor]="loginMenu" fxHide fxShow.lt-sm="true">
                <mat-icon>person</mat-icon>
            </button>
            <mat-menu #loginMenu="matMenu">
                <div>
                    <button mat-menu-item (click)="goToLogin()"
                        *ngIf="this.loginSharedService.isLoggedOut$ | async">Login</button>
                    <button mat-menu-item (click)="goToRegistration()"
                        *ngIf="this.loginSharedService.isLoggedOut$ | async">Register</button>
                    <button mat-menu-item (click)="logout()"
                        *ngIf="this.loginSharedService.isLoggedIn$ | async">Logout</button>
                    <p>{{this.username}}</p>
                </div>
            </mat-menu>
            <div *ngIf="this.loginSharedService.isLoggedOut$ | async">
                <button mat-button fxShow="true" fxShow fxHide.lt-sm="true" (click)="goToLogin()">Login</button>
                <button mat-raised-button fxShow="true" fxShow fxHide.lt-sm="true"
                    (click)="goToRegistration()">Register</button>
            </div>
            <div fxShow="true" fxShow fxHide.lt-sm="true" *ngIf="this.loginSharedService.isLoggedIn$ | async">
                <span>{{this.username}}</span>
            </div>
            <div *ngIf="this.loginSharedService.isLoggedIn$ | async">
                <button mat-button fxShow="true" fxShow fxHide.lt-sm="true" (click)="logout()">Logout</button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div id="container">
        <router-outlet></router-outlet>
    </div>
</div>