<div class="row full-height align-items-center justify-content-center">
    <div class="col-10 align-self-center">
        <form [formGroup]="form">
            <mat-card class="login-card mx-auto">
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label i18n="Email|email@@email">E-mail</mat-label>
                                <input matInput #email formControlName="email" autocomplete="email">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label i18n="Password|password@@password">Password</mat-label>
                                <input matInput [type]="hidePassword ? 'password' : 'text'"
                                    formControlName="current-password" autocomplete="current-password">
                                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button mat-raised-button color="primary" class="full-width" (click)="login()"
                                i18n="Login|login button@@login" [disabled]="this.form.invalid">Login</button>
                        </div>
                    </div>
                    <div class="row padding-top-10">
                        <div class="col">
                            <a i18n="Forgot your password?|Forgot your password?@@forgotYourPassword">Forgot your
                                password?</a>
                        </div>
                    </div>
                    <div class="row padding-top-10">
                        <div class="col">
                            <button mat-stroked-button color="primary" class="full-width" (click)="goToRegistration()"
                                i18n="Register|register button@@register">Register</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>