<div class="row full-height align-items-center justify-content-center">
    <div class="col-10 align-self-center text-center">
        <form [formGroup]="form">
            <mat-card>
                <mat-card-content>
                    <h1 i18n="Reset Password|Reset Password@@resetPassword">Reset Password</h1>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label i18n="Email|email@@email">E-mail</mat-label>
                                <input matInput #email formControlName="email" autocomplete="email">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button mat-raised-button color="primary" class="full-width" (click)="resetPassword()"
                                i18n="Reset|Reset button@@reset" [disabled]="this.form.invalid">Reset</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>